.blog-listcard-back {

}
.blog-listcard-back#blog-background-p {
  background: url(../assets/BlogBanners/blogprototypes.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
.blog-listcard-back#blog-background-a {
  background: url(../assets/BlogBanners/blogathena.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
.blog-listcard-back#blog-background-o {
  background: url(../assets/BlogBanners/blogomega.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.blog-listcard-alpha {
  background: rgba(61, 186, 157, 0.33);
  -webkit-transition: background 250ms linear;
  -moz-transition: background 250ms linear;
  -o-transition: background 250ms linear;
  -ms-transition: background 250ms linear;
  transition: background 250ms linear;
}

.blog-listcard-alpha:hover {
  background: rgba(61, 186, 157, 0.75);
  -webkit-transition: background 250ms linear;
  -moz-transition: background 250ms linear;
  -o-transition: background 250ms linear;
  -ms-transition: background 250ms linear;
  transition: background 250ms linear;
}

.blog-listcard {
  height: 20vh;
  min-height: -moz-min-content;
  min-height: -webkit-min-content;
  min-height: min-content;
}

.blog-listcard-content {
  color: #C4FFF1;
}

.blog-listcard-back a:hover {
  cursor: pointer;
}
