/* header */
.main-header {
  height: 80vh;
  min-height: -moz-min-content;
	min-height: -webkit-min-content;
	min-height: min-content;
}
.main-header-background {
  background: url(/assets/Banner.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}
.main-header-alpha {
  background: rgba(28, 68, 84, 0.75);
}
.main-header-text {
  color: #FFFFFF;
}
.main-header-text-accent {
  /*color: #2c3e50;*/
  /*color: #E1F1F7;*/
  color: #F7AE31;
}
h1.main-header-text-accent {
  color: #FFFFFF;
}
a.main-header-text-accent:hover {
  color: #F7AE31;
}
.main-header-nav-spacer {
  height: 108px;
}
